:root {
  line-height: 1.5;
  font-weight: 400;
}

.post__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.post__list p {
  display: flex;
  justify-content: flex-start;
}