.recipe-step__container {
    display: flex;
    margin-bottom: .5em;
    border-radius: .2em;
    font-size: .8em;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgb(209, 209, 209);
    padding: .3em;
    width: 100%;
}

.step-number__container {
    width: 5%;
}

.step-description__container {
    width: 65%;
}

.step-cta__container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.cta__btn--small {
    background-color: transparent;
    border: none;
    width: 15px;
    height: 15px;
    font-size: 1.3em;
    padding: .2em;
    margin-right: .2em;
    margin-left: 1em;
    margin-top: 3px;
}

.step-cta--up,
.step-cta--down,
.step-cta--delete {
    margin-left: 1.5em;
}

.btn-icon--small {
    width: 10px;
    height: 10px;
}