.recipe-details__container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: #ffffff; */
    margin-bottom: .5em;
    /* padding: 1em; */
    padding-top: .5em;
}

.recipe__title {
    display: flex;
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: bolder;
    width: 100%;
}

.recipe__title > header {
    justify-content: flex-start;
    width: 90%;
}

.recipe__title > button {
    align-self: top;
    width: 10%;
}

.recipe-details-image__container {
    width: 100%;
    padding: 0;
    margin-top: 1em;
    border-radius: .3em;
    position: relative;
}

.edit-image__icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2em;
    margin: 0;
    top: 10px;
    right: 6px;
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: transparent;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: .2em;
    height: fit-content;
}

.edit-image__icon > img {
    width: 1.4em;
    height: 1.4em;
}

.recipe-details-description__container {
    margin-top: 1em;
}

.recipe-details-description__container > header {
    align-self: flex-start;
}

.recipe-details-steps__container,
.recipe-details-description__container,
.recipe-details-ingredients__container {
    width: 100%;
}

.recipe__description {
    display: flex;
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: bolder;
    width: 100%;
}

.recipe__description > header {
    justify-content: flex-start;
    width: 90%;
}

.recipe__description > button {
    align-self: top;
    display: flex;
    width: 10%;
}
