.recipe-ingredient__container {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    border-radius: .2em;
    font-size: .8em;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgb(209, 209, 209);
    padding: .3em;
    width: 100%;
}

.ingredient-number__container {
    width: 5%;
}

.ingredient-description__container {
    display: flex;
    width: 65%;
}

.ingredient-description {
    width: 70%;
}

.qty-unit__container {
    display: flex;
    width: 30%;
}

.ingredient-cta__container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cta__btn--small,
.cta__btn--medium {
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.cta__btn--small {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.cta__btn--medium {
    width: 25px;
    height: 25px;
}

.btn-icon--medium {
    width: 10px;
    height: 10px;
}



.icon--green {
    color: rgb(17, 137, 17);
}

.icon--light--blue {
    color:rgb(0, 162, 255);
}