.recipe-ingredient__container {
    display: flex;
    margin-bottom: .5em;
    border-radius: .2em;
    font-size: .8em;
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgb(209, 209, 209);
    padding: .3em;
    width: 100%;
}

.ingredient-number__container {
    width: 5%;
}

.ingredient-description__container {
    display: flex;
    width: 65%;
}

.ingredient-description {
    width: 70%;
}

.qty-unit__container {
    display: flex;
    width: 30%;
}

.ingredient-cta__container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.cta__btn-small {
    background-color: transparent;
    border: none;
    width: 15px;
    height: 15px;
    font-size: 1em;
    padding: 0;
    margin: 0;
    margin-top: 3px;
}

.btn-icon--small {
    width: 10px;
    height: 10px;
}